body {
    overflow-x: hidden;
}


/* navbar */

.navigation {
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar-right {
    float: right;
    padding-right: 10%;
    padding-top: 10px;
}

.navbar-right a {
    text-decoration: none;
    padding: 50px;
    color: rgba(5, 5, 5, 0.637);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    transition: font-size 0.5s;
}

.navbar-right a:hover {
    font-size: 23px;
    color: #92bb45;
    padding-top: 40px;
}

.navbar-logo {
    padding-left: 10%;
    letter-spacing: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 900;
    text-decoration: none;
    color: #fff;
}

.navbar-logo:hover {
    cursor: initial;
    color: #fff;
}


/* banner */

.banner {
    height: 750px;
    background-color: rgb(146, 141, 146);
    background-image: url('background\ 3.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.banner_content {
    position: absolute;
    border-radius: 50px;
    background-color: rgba(185, 175, 175, 0.5);
    display: flex;
    align-items: center;
}

.padd {
    padding: 30px;
}

.banner_title {
    color: rgba(1, 17, 20, 0.8);
    font-size: 50px;
    font-family: 'Eczar', serif;
}


/* timeline */

.row {
    width: 100%!important;
    margin-left: 0px !important;
    margin-top: 0px !important;
}

.row-1 {
    border-bottom: 2px;
    background: linear-gradient(to bottom right, rgb(57, 226, 41), rgb(96, 170, 212))!important;
}

.t_Heading {
    font-family: 'Eczar', serif;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 2px;
    border: 2px hidden;
    padding: 20px;
}

.icon {
    background-color: rgb(71, 255, 71)!important;
}


/* mission */

.mission {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    background-color: #AADA95;
}

.mission-container {
    width: 80%;
    left: 10%;
    max-height: 300px;
    height: auto;
    background-color: #d9dddd;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
}

.mission-1 {
    display: inline-block;
    margin: auto 0;
    width: 20%;
    height: auto;
    padding: 20px;
}

.m_Heading {
    font-family: 'Eczar', serif;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.v_line {
    border-left: 1px dashed rgb(133, 128, 128);
    height: 200px;
    margin-top: 10px;
}


/* footer */

#footer {
    text-align: center;
    background-image: radial-gradient(circle, rgba(223, 202, 202, 0.986), rgb(73, 64, 64))
}

.container {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons {
    width: 50px;
    display: inline-block;
    margin: 30px;
}

.facebook,
.instagram,
.twitter,
.linkedin {
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
}

footer,
a {
    color: #030303;
    text-decoration: none;
}

.facebook:hover {
    border-radius: 25%;
    border-color: rgb(180, 175, 175);
    color: white;
    background: radial-gradient(circle at 30% 107%, #295ea3 0%, #3392d1 5%, #697eda 45%, #16a2e2 60%, #285AEB 90%);
}

.instagram:hover {
    border-radius: 25%;
    border-color: rgb(180, 175, 175);
    color: white;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.twitter:hover {
    border-radius: 25%;
    border-color: rgb(180, 175, 175);
    color: white;
    background: radial-gradient(circle at 30% 107%, #36D8FF 0%, #285AEB 5%, #42aaf0 45%, #4489e4 60%, #3074a1 90%);
}

.linkedin:hover {
    border-radius: 25%;
    border-color: rgb(180, 175, 175);
    color: white;
    background: radial-gradient(circle at 30% 107%, #36D8FF 0%, #285AEB 5%, #42aaf0 45%, #4489e4 60%, #3074a1 90%);
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border-radius: 40%;
}


/* css for mobile  */

@media(max-width:998px) {
    html {
        font-size: 55%;
    }
}

@media(max-width:768px) {
    html {
        font-size: 45%;
    }
    .navigation {
        padding-top: 30px;
        padding-bottom: 30px;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
        height: 160px;
        background-color: rgba(96, 212, 135, 0.5);
    }
    .navbar-right {
        float: right;
        padding-right: 10%;
        padding-top: 10px;
    }
    .navbar-right a {
        text-decoration: none;
        padding: 50px;
        color: rgba(5, 5, 5, 0.637);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 22px;
        transition: font-size 0.5s;
    }
    .navbar-right a:hover {
        font-size: 23px;
        color: #92bb45;
        padding-top: 40px;
    }
}